@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using InventoryApp.Models.Enums
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/Shared/_AuthLayout.cshtml";

}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row p-2">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.FName"></label>
                <input asp-for="Input.FName" class="form-control" />
                <span asp-validation-for="Input.FName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.MName"></label>
                <input asp-for="Input.MName" class="form-control" />
                <span asp-validation-for="Input.MName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.LName"></label>
                <input type="text" asp-for="Input.LName" class="form-control" />
                <span asp-validation-for="Input.LName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Gender"></label><br />
                @foreach (var g in Html.GetEnumSelectList<Gender>())
                {
                    <input type="radio" asp-for="Input.Gender" name="gender" value="@g.Value" class="ml-2" /> @g.Text.ToString()
                }
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input type="text" asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Country"></label>
                <select id="Country" asp-for="Input.Country" asp-items="@(new SelectList(Model.Countries,"Id","Name"))" class="form-control">
                    <option value="0" selected disabled>-- Select Country --</option>
                </select>
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Province"></label>
                <select id="Province" asp-for="Input.Province" asp-items="@(new SelectList(Model.Provinces,"Id","Name"))" class="form-control">
                    <option value="0" selected disabled>-- Province Is Not Available --</option>
                </select>
                <span asp-validation-for="Input.Province" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.ImageFile"></label>
                <input type="file" asp-for="Input.ImageFile" onchange="previewImage(event)" class="form-control" />
            </div>
        </div>

        <div class="col-md-2 offset-2">
            <div>
                <img id="imgPreview" src="/Images/people.png" width="100" height="120" />
            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-outline-primary btn-block col-md-6 offset-3 mb-2">Register</button>
</form>


@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function(){
        $('#Country').change(function(){
            var cId = $('#Country option:selected').val();
            $.ajax({
                type:"GET",
                data:{countryId:cId},
                url:"/Identity/Account/Register?handler=ProvinceById",
                success:function(response){
                    $('#Province').empty();
                    $('#Province').append("<option value='0'>-- Select Any One --</option>")

                   $.each(response,function(idenx,row){
                       $('#Province').append("<option value='"+ row.id +"'>"+ row.name +"</option>")
                   });
                }
            });
        });
    });
</script>
}
